{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="center-align">Login</h2>
{% with messages = get_flashed_messages(category_filter=["danger"]) %}
    {% if messages %}
        <ul class="collection">
            {% for message in messages %}
                <li class="collection-item red-text">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        <ul class="collection">
            {% for message in messages %}
                <li class="collection-item green-text">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="row">
    <form method="post" action="{{ url_for('auth.login') }}" class="col s12 m6 offset-m3"> <!-- adicionado classe "m6" para definir a largura, e "offset-m3" para centralizar na tela -->
        <div class="row">
            <div class="input-field col s10 offset-s2"> <!-- adicionado classe "m5" para definir largura do grid -->
                <input id="username" type="text" class="validate" name="username">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s10 offset-s2"> <!-- adicionado classe "m5" para definir largura do grid -->
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}