{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(category_filter=["danger"]) %}
        {% if messages %}
            <ul class="collection">
                {% for message in messages %}
                    <li class="collection-item red-text">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            <ul class="collection">
                {% for message in messages %}
                    <li class="collection-item green-text">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="{{ url_for('home.index') }}" class="btn waves-effect waves-light"><i class="material-icons left">arrow_back</i>Voltar para a Home</a>
{% endblock %}