<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav class="nav-wrapper">
    <div class="container">
      <span class="brand-logo">{% if g.user %}Olá, {{ g.user.name }} {% else %} Sistema de Aluguéis{% endif %}</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home.index') }}">Home<i class="material-icons right center-align">home</i></a></li>
        {% if g.user %}
        <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <ul class="collection">
      {% with messages = get_flashed_messages(category_filter=["danger"]) %}
      {% if messages %} 
      {% for message in messages %}
      <li class="collection-item red-text">{{ message }}</li>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if messages %}
      {% for message in messages %}
      <li class="collection-item green-text">{{ message }}</li>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </ul>

    
    <ul class="collection">
     
    </ul>
    
    {% block content %}{% endblock content %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      M.AutoInit();
      update_hidden_counts();
    });
  </script>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>