<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="nav-wrapper">
    <div class="container">
      <span class="brand-logo">{% if g.user %}Olá, {{ g.user.name }} {% else %} Sistema de Aluguéis{% endif %}</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home.index') }}">Home</a></li>
        {% if g.user %}
        <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>