<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
</head>
<body>
    <nav class="nav-wrapper">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#servicos">Serviços</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
      <div class="container">
        {% block content %}{% endblock %}
      </div>
      <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>