{% extends 'base.html' %}

{% block title %}Cadastro de Empresa{% endblock %}

{% block content %}
<div class="row">
  {% with messages = get_flashed_messages(category_filter=["danger"]) %}
  {% if messages %}
    <ul class="collection">
    {% for message in messages %}
        <li class="collection-item red-text">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <ul class="collection">
    {% for message in messages %}
        <li class="collection-item green-text">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  
  <h2>Cadastro de Empresa</h2>
  <form class="col s12" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" name="name" required>
        <label for="name">Nome da Empresa</label>
      </div>
      <div class="input-field col s6">
        <input id="username" type="text" class="validate" name="username" placeholder="Username Padrão da Empresa (usado pra login)" required>
        <label for="email">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" name="email" required>
        <label for="email">Email da Empresa</label>
      </div>
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="password" placeholder="Senha do Usuário Padrão da Empresa" required>
        <label for="password">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="name_user" type="text" class="validate" name="name_user" placeholder="Nome do Usuário Padrão da Empresa" required>
        <label for="name_user">Nome do Usuário</label>
      </div>
      <div class="input-field col s6">
        <input id="email_user" type="email" class="validate" name="email_user" placeholder="Email do Usuário Padrão da Empresa" required>
        <label for="email_user">Email do Usuário</label>
      </div>
    </div>
    <div class="btn-fixed-action">
      <a href="{{ url_for(previous_page) }}" class="btn waves-effect waves-light right"><i class="material-icons left">arrow_back</i>Voltar para a Home</a>
      <button class="btn btn-block waves-effect waves-light left" type="submit" name="action">Cadastrar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
{% endblock %}