{% extends "base.html" %}

{% block content %}
<h3>{% block title %}Detalhes da Empresa{% endblock %}</h3>
<table class="striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ enterprise_infos.name }}</td>
            <td>{{ enterprise_infos.email }}</td>
        </tr>
    </tbody>
</table>

<h3>Clientes</h3>
<div class="row">
    <ul class="collection">
        {% if clients %}
            {% for client in clients %}
            <div class="col s6">
                <li class="collection-item avatar">
                    <i class="material-icons circle {% if client.status == 1 %}red{% else %}green{% endif %}">account_circle</i>
                    <span class="title">{{ client.nome }}</span>
                    <table class="responsive-table">
                        <tbody>
                        <tr>
                            <td><strong>Nome:</strong> {{ client.nome }}</td>
                            <td><strong>CPF:</strong> {{ client.cpf }}</td>
                        </tr>
                        <tr>
                            <td><strong>Telefone:</strong> {{ client.telefone }}</td>
                            <td><strong>Email:</strong> {{ client.email }}</td>
                        </tr>
                        <tr>
                            <td><strong>Prazo de tolerância:</strong> {{ client.prazo_tolerancia_prazo_medidas_legais }} dias</td>
                            <td><strong>Data de início:</strong> {{ client.data_inicio }}</td>
                        </tr>
                        <tr>
                            <td><strong>Data de término:</strong> {{ client.data_termino }}</td>
                            <td><strong>Tipo de imóvel:</strong> {{ imoveis[client.imovel_id].tipo }}</td>
                        </tr>
                        <tr>
                            <td><strong>Valor do aluguel:</strong> R$ {{ imoveis[client.imovel_id].valor_aluguel }}</td>
                            <td><strong>Valor de venda:</strong> R$ {{ imoveis[client.imovel_id].valor_venda }}</td>
                        </tr>
                        <tr>
                            <td><strong>Taxa de administração mensal:</strong> R$ {{ imoveis[client.imovel_id].taxa_adm_mensal }}</td>
                            <td><strong>Taxa de locação:</strong> R$ {{ imoveis[client.imovel_id].taxa_locacao }}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhum cliente cadastrado ainda</p>
        {% endif %}
    </ul>
</div>                  


<h3>Imóveis</h3>
<ul class="collection">
    {% if imoveis %}
        {% for imovel in imoveis.values() %}
            <li class="collection-item avatar">
                <i class="material-icons circle {% if imovel.is_occuped == 1 %}blue{% else %}grey{% endif %}">home</i>
                <span class="title green-text">{{ imovel.tipo }}</span>
                <table class="striped responsive-table">
                    <tbody>
                      <tr>
                        <td class="grey white-text">Endereço</td>
                        <td>{{ imovel.endereco }}</td>
                        <td class="grey white-text">CEP</td>
                        <td>{{ imovel.cep }}</td>
                      </tr>
                      <tr>
                        <td class="grey white-text">Número</td>
                        <td>{{ imovel.numero }}</td>
                        <td class="grey white-text">Complemento</td>
                        <td>{{ imovel.complemento }}</td>
                      </tr>
                      <tr>
                        <td class="grey white-text">Bairro</td>
                        <td>{{ imovel.bairro }}</td>
                        <td class="grey white-text">Cidade</td>
                        <td>{{ imovel.cidade }}</td>
                      </tr>
                      <tr>
                        <td class="grey white-text">Estado</td>
                        <td>{{ imovel.estado }}</td>
                        <td class="grey white-text">Valor do aluguel</td>
                        <td class="green-text">R$ {{ imovel.valor_aluguel }}</td>
                      </tr>
                      <tr>
                        <td class="grey white-text">Valor de venda</td>
                        <td class="green-text">R$ {{ imovel.valor_venda }}</td>
                        <td class="grey white-text">Taxa de administração mensal</td>
                        <td>{{ imovel.taxa_adm_mensal }}%</td>
                      </tr>
                      <tr>
                        <td class="grey white-text">Taxa de locação</td>
                        <td class="green-text">R$ {{ imovel.taxa_locacao }}</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>                                  
            </li>
        {% endfor %}
    {% else %}
        <p>Nenhum imóvel cadastrado ainda</p>
    {% endif %}
</ul>

<h3>Funcionários</h3>
<div class="row">
    <ul class="collection">
        {% for funcionario in funcionarios %}
        <div class="col s6">
            <li class="collection-item avatar">
                <i class="material-icons circle purple">person</i>
                <span class="title">{{ funcionario.nome }}</span>
                <table class="responsive-table">
                    <tbody>
                    <tr>
                        <td><strong>Username:</strong> {{ funcionario.username }}</td>
                        <td><strong>Email:</strong> {{ funcionario.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Telefone:</strong> {{ funcionario.telefone }}</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>

<a href="{{ url_for(previous_page) }}" class="btn waves-effect waves-light right">Voltar ao Home<i class="material-icons left">arrow_back</i></a>
{% endblock %}